[defaults]
inventory = ./inventory/servers
remote_user = root
private_key_file = /home/username/.ssh/id_rsa.pub
roles_path = ./roles
retry_files_enabled = False
host_key_checking = False
forks = 5
log_path = ./ansible.log

[ssh_connection]
pipelining = True
